

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}




body {
	font-family:'Raleway',  sans-serif;
	font-weight: 500;
}

img {
	max-width: 100%;
}



.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
header {
	padding: 24px 0;
	width: 100%;
  	background-color:#E1EDE6;
  
}
/*============================================================================*/
.header__container{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 39px;
	padding-bottom: 38px;
  }
  
  .logo__media{
	display: none;
  }
  .btn__box-media{
	display: none;
	justify-content: space-between;
  }
  .header__burger-btn{
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	border: none;
	background-color:#11f26f;  
  }
  
  .header__burger-btn span{
  
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: #4C5866;
	left: 5px;
	transition: transform .5s, opacity .5s, background-color .5s;
  }
  
  .header__burger-btn span:nth-child(1) {
  
	  transform: translateY(-10px);
  }
  
  .header__burger-btn span:nth-child(3) {
  
	  transform: translateY(10px);
  
  }
  
  
  
  .header.open .header__burger-btn span:nth-child(1) {
  
	transform: translateY(0) rotate(45deg);
  }
  
  .header.open .header__burger-btn span:nth-child(2) {
  
	opacity: 0;
  }
  .header.open .header__burger-btn span:nth-child(3) {
  
	transform: translateY(0) rotate(-45deg);
   
  }
  
  
  
  
  .logo__link{
	display: flex;
	align-items: center;
	gap: 8px;
  }
.logo__text{

	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;	
	color: #598D66;


}
  .menu__list{
	display: flex;
	gap: 60px;
  }
  .menu__link {
	display: inline-flex;
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #2C2D35;
	transition: color 0.3s ease-in-out;
}
.menu__link:hover {
	color: #cebe77
}
.basket__img{
	transition: 0.3s ease-in-out;
}

.basket__img:hover{
	filter: invert(0.5) sepia(1);
  }

.link span {
	text-indent: 10px;
	border-bottom: 1px solid currentColor;
}

.link:hover {
	color: #cebe77
}
/*============================================================================*/
.button {
  display: inline-block;
  font-family:'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 23px;
  color:#2C2D35;
  padding: 10px 20px;
  max-width: 126px;
  height: 43px;
  border-radius: 20px;
  background: #D4E8D9;
  white-space: nowrap;
  transition: .3s;
 
}




.button:hover {
  transform: scale(1.05);
  background: #376B44;
}
/*=========================================================================================================*/








/*=====================================hero=============================================*/
.hero{

	background:#E5E5E5;
}
.hero__inner{

display: flex;
gap: 30px;
}
.hero__content{

	max-width: 510px;
	padding-top: 145px;
}
.hero-title{
	margin: 0;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 60px;
	line-height: 110%;
	color: 	#2C2D35;
}

.hero-title span{
	display: inline-block;
	color: #598D66;
}


.hero-text{
	display: inline-block;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0em;
	color: #86928B;	
	max-height: 54px;
	margin-bottom: 81px;
}
.hero__link{
display: inline-block;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
width: 182px;
height: 52px;
text-align: center;
padding:  13px;
color: #598D66;
border: 1px solid #598D66;
margin-bottom: 245px;
transition: .3s;
}


	.hero__link:hover{

		color: #cebe77;
		box-shadow: 2px 2px 2px 2px  #c9bebb;
		
	}

/*==========================================servises=======================================*/
.servises{

	background-color: #E5E5E5;
	padding-bottom: 70px;
}

.servises__wrapper{
	display: flex;
	justify-content: space-between;
}

.servises__items{
	display: flex;
	gap:32px;
	margin-bottom: 30px;
}

.servises__title{
		display: inline-block;
		margin: 0;
		font-weight: 500;
		font-size: 40px;
		line-height: 110%;
		
}

.servises-list {
	display: grid;
	text-align: left;
	grid-template: repeat(2, auto) / repeat(3, 1fr);
	gap: 30px 30px;
	
  }
.servises-item{
	padding: 20px;
	background-color: #E1EDE6;

}

.servises__link-subtitle{
	padding-top: 20px;
	color: #86928B;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0em;	
	transition: .3s;

}


.servises__link-subtitle:hover{

	color: #cebe77;
}



.servises__link-title{
	
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	letter-spacing: 0em;
	padding-bottom: 8px;
	transition: .3s;

}


.servises__link-title:hover{

	color: #cebe77;
}

.link-subtitle{
	
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0em;
    padding-bottom: 30px;

}
.servises__link-text{
	
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0em;
	padding-bottom: 30px;
}

  .servises__link-btn{

  }
  .servises__link-price{
	display: inline-block;
	padding-bottom: 15px;
  }
	
  .btn__link{
	  display: inline-block;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 24px;
	  line-height: 28px;
	  width: 100%;
	  text-align: center;
	  padding: 13px;
	  color: #598D66;
	  border: 1px solid #598D66;
	  transition: .3s;

	}


	.btn__link:hover{

		color: #cebe77;
		box-shadow: 2px 2px 2px 2px  #c9bebb;
		
	}
	.collection{
		background-image: url(../images/collection-bg.jpg);
		background-position: center;
		background-repeat:no-repeat;/*для исключения повторения картинки*/
		background-size:cover; /*картинка растягивается на весь монитор*/
	   margin-bottom: 149px;
	}

	.collection__content{

		display: flex;
		align-items: center;
		gap: 20px;
	}
	.collection__title{
		display: inline-block;
		margin: 0;
		padding-top: 70px;
		max-width: 425px;
		font-family: Raleway;
		font-size: 40px;
		font-weight: 500;
		line-height: 40px;
		letter-spacing: 0em;
		color: #F4F6F5;
		margin-bottom: 20px;

	}

	.collection__text{
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		max-width: 540px;
		color: #FFFFFF;
		padding-bottom: 30px;
	}

	.text{
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0em;
		max-width: 540px;
		color: #FFFFFF;
		padding-bottom: 60px;
	}
	
	
	
	.collection-link{
		
		display: inline-block;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		padding: 21px 60px ;
		color: #2C2D35;
		background: #EEDB6D;
		transition.3s;
		font-size: 20px;
		font-weight: 500;
		line-height: 23px;
		letter-spacing: 0em;
		margin-bottom: 60px;
		transition: .3s;
	}
	.collection-link:hover{
		
		color: #cebe77;
		box-shadow: 2px 2px 2px 2px  #6e6a68;
		
	}
	
	/*=============================team======================================================*/
	
	.team{

	
	}
	.team__inner{
		display: flex;
		gap: 30px;
	}
	

	.content__title{
		margin: 0;
		padding-top: 60px;
		font-size: 40px;
		font-weight: 500;
		line-height: 44px;
		letter-spacing: 0em;
		padding-bottom: 20px;

	}

	.content__text{
		display: inline-block;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0em;
		padding-bottom: 20px;
		max-width: 658px;


	}
.team__picture{
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 70px;
	
}

	.team__frame{

		position: relative;
		top: 0;
		left: 0;
		
	}

	.team__arm {
		position: relative;
		bottom: 440px;
		right: -48px;
		height: auto;
		width: auto;
	  }

	.team__content{

	}

	.team__gallery{

    display: flex;
	gap: 30px;
	padding-bottom: 114px;
	}

	/*=============================footer======================================================*/
	
	.footer {

		color:#2C2D35;
		background: #E1EDE6;
	}
	
	
	.footer__inner{

		display: grid;
		gap: 30px;
		grid-template-columns: repeat(5, 1fr);
		
	}



		.logo__box{
			padding-top: 29px;
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 41px;
		}

		.box__paragraf{
		
			font-size: 20px;
			font-weight: 700;
			line-height: 23px;
			letter-spacing: 0em;
			color: #598D66;

		}

		.contact__link-tel{

			display: inline-flex;
			font-size: 20px;
			font-weight: 500;
			line-height: 23px;
			letter-spacing: 0em;
			text-align: left;
			color: #2C2D35;
			margin-bottom: 8px;
			transition: color 0.3s ease-in-out;
		}
		.contact__link-tel:hover{

			color: #cebe77;

		}

		.contact__text{
			font-size: 18px;
			font-weight: 500;
			line-height: 21px;
			letter-spacing: 0em;
			color: #86928B;
			
		}

		.footer-column{
			padding-top: 23px;


		}


		.footer-title{
			font-size: 20px;
			font-weight: 500;
			line-height: 23px;
			letter-spacing: 0em;
			margin-bottom: 6px;
			
		}
		
		.footer-item{
			
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0em;
			color: #86928B;
			transition: color 0.3s ease-in-out;
		}

		.footer-item:hover{

			color: #cebe77;
		}

		.box__contact{
			padding-top: 23px;
			padding-bottom: 23px;
		}

		.social__box{

			display: flex;
			align-items: center;
			gap: 35px;
			margin-bottom: 12px;

		}


		.social__icon:hover {
			filter: invert(0.5) sepia(1);
		  }


		
		.copyright{
			color: #86928B;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0em;
		}

		/*==============================================media=======================================*/

		@media (max-width: 1100px) {
			.header__container {
				
				padding-top: 38px;
				padding-bottom: 38px;
			  }
			.hero-title{
				margin: 0;
				margin-bottom: 20px;
				font-size: 36px;
				line-height: 110%;
				color: 	#2C2D35;
			}
			.team__picture{

				margin-bottom: 0;
			}
			.team__gallery {
				display: flex;
				gap: 30px;
				padding-bottom: 0px;
			  }
			  .servises-list {
				
				gap: 10px 10px;
			  }
			  .content__title {
				
				padding-top: 45px;
				font-size: 26px;
				line-height: 32px;
				padding-bottom: 20px;
			  }
			  .content__text {
				display: inline-block;
				font-size: 16px;
				line-height: 22px;
				padding-bottom: 0;
				
			  }
			  .servises__link-title {
				font-size: 22px;
				line-height: 28px;
				padding-bottom: 6px;				
			  }
			  .servises__title {
				
				font-size: 28px;
				
			  }

			  .collection__title {
				padding-top: 50px;
				font-size: 32px;
				font-weight: 500;
				line-height: 34px;
				margin-bottom: 15px;
			  }
		}

		@media (max-width: 920px) {

			.header__container {
				
				padding-top: 10px;
				padding-bottom: 10px;
			  }
			.hero-title{
				margin: 0;
				margin-bottom: 20px;
				font-size: 30px;
				
			}
			.servises-list {
				
				grid-template: repeat(2, auto) / repeat(2, 1fr);
				
			  }
			.btn__link {
				
				font-size: 18px;
				line-height: 100%;
				width: 100%;
				text-align: center;
				padding: 15px;				
			  }
			.menu__list {
				gap: 40px;
			  }
			  .menu__link {
				
				font-size: 14px;
				
			  }
			  .servises__title {
				font-size: 22px;
			  }
			  .servises__link-subtitle {
				padding-top: 10px;		
				font-size: 12px;
			  }
			  .servises__link-title {
				font-size: 22px;
				padding-bottom: 4px;
			  }
			  .servises__link-text {
				font-size: 14px;
				padding-bottom: 10px;
			  }
			  .footer__inner {
				display: grid;
				gap: 10px;
				grid-template-columns: repeat(5, 1fr);
			  }
			  .footer-title {			
				
				font-size: 20px;
				line-height: 23px;

			  }
			  .footer-item {
				
					font-size: 18px;					
					line-height: 27px;
					

			  }
			  
		}
		
/*==============================================================================*/
		@media (max-width:324px){

			.header__burger-btn{
			  display: block;
			}
		  
			.menu{
			  
				position: absolute;
				left: -100%;
				top: 96px;
				background-color: #E1EDE6;
				width: 100%;
				margin: 0;
				padding-left: 15px;
				padding-right: 0;
				margin: 0;
				transition: transform .5s;
			}
		  
			.menu__list{
			  display: block;
			}
		  
		  
		  .logo__media{
			
			  display: flex;
			  justify-content: center;
			  width: 100%;
			  padding-top: 23px;
			  padding-bottom: 23px;
			  background-color: #FFFFFF;
		  
		  }
		  .logo{
			display: none;
		  }
		  
		  .btn__box-media{
			display: flex;
			justify-content: space-between;
			z-index: 5;
			padding-right: 27px;
			padding-left: 20px;
			gap: 160px;
		  }
		  .menu__link{
			display: block;
			color:#2C2D35;
			padding-top: 76px;
			padding-bottom: 50px;
			
		  }
		  .basket__link{
			display: none;
		  }
		  .header.open .menu{
		  
		  transform: translateX(100%);
		  
		  }
		  }